<div class="container">
  <h2>List of Rewards</h2>

  <div class="reward-animation" *ngIf="showAnimation">
  <dotlottie-player
    src="https://lottie.host/4edd9381-89d7-4a8d-8169-0314d44f146b/pRoiR1PLAE.lottie"
    background="transparent"
    speed="2"
    loop
    autoplay
  ></dotlottie-player>
  </div>


  <!-- Export + Recherche -->
  <div class="export-buttons mb-3">
    <button class="btn btn-success" (click)="exportToExcel()">📂 Export to Excel</button>
    <input
      type="text"
      class="search-input"
      [(ngModel)]="searchText"
      placeholder="🔎 ........"
    />
    <button class="btn btn-danger" (click)="exportToPDF()">📝 Export to PDF</button>
  </div>

  <!-- Ajouter -->
  <button class="btn btn-primary" [routerLink]="['/rewards/add']">
    ➕ Add a Reward
  </button>

  <!-- Tableau -->
  <table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reward of filteredRewards()">
      <td>{{ reward.type }}</td>
      <td>{{ reward.description }}</td>
      <td>{{ reward.dateAwarded | date:'shortDate' }}</td>
      <td>
        <div class="btn-container">
          <button class="btn btn-warning btn-sm" [routerLink]="['/rewards/edit', reward.id]">✏️Update</button>
          <button class="btn btn-danger btn-sm" (click)="deleteReward(reward.id)">🗑️ Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
